.left {
    .plan-navigator:hover {
        cursor: pointer;
    }
    .plan-navigator {
        padding:10px 0px;
        fond-size:1.1em;
    }
    .toggle-content {
        padding-left:10px;
    }
}